.main_div{
    display: flex;
    justify-content: center;
    border: 1px solid brown;
    background-color: antiquewhite;
}

input{
    padding: 8px;
    color: white;
    background-color: chocolate;
}

h1{
    text-align: center;
    color: brown;
}

button{
    padding: 8px;
    border-radius: 50%;
    background-color: brown;
    color: antiquewhite;
    margin-left: 5px;
}

li{
    font-size: 20px;
    color: brown;
    border-bottom: 5px solid darksalmon;
    text-align: center;
    padding: 10px;
    font-family: fantasy;
}

button:hover{
    color: brown;
    background-color: darksalmon;
    cursor: pointer;
}